!!!
%html
  %head
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/styles.css"}
    %title РЕЗУЛЬТАТЫ - Скачать фотки с собой
  %body
    %div
      %p= "Всего фотографий скачано: #{@count}"
      - unless @skipped.zero?
        %p= "Пропущено из-за ошибок соединения: <span class=error>#{@skipped}</span>"
      %p
        Пароль к архиву: 
        %span.notice= @password
      %a{href: @file_url} СКАЧАТЬ АРХИВ
      %p.info (не забудь скопировать пароль)